apiVersion: apps/v1
kind: Deployment
metadata:
  name: celery-worker
  labels:
    deployment: celery-worker
spec:
  replicas: 1
  selector:
    matchLabels:
      pod: celery-worker
  template:
    metadata:
      labels:
        pod: celery-worker
    spec:
      containers:
        - name: celery-worker
          image: fyk7/celery-fastapi-text-vect-worker:latest
          # command: ['celery', '-A', 'src.worker.worker.celery', 'worker', '-l', 'info']
          imagePullPolicy: IfNotPresent
          env:
            - name: REDIS_HOST
              value: redis-service.redis-textvec
