# TODO 環境ごとにどのようにnamespaceを設定するかを再考
namePrefix: local-
resources:
- ../base/celery/worker-deployment.yaml
- ../base/celery/namespace.yaml
- ../base/fastapi/deployment.yaml
- ../base/fastapi/service.yaml
- ../base/fastapi/namespace.yaml
- ../base/redis/deployment.yaml
- ../base/redis/service.yaml
- ../base/redis/namespace.yaml
